{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/books/book-detail.css' %}" />
{% endblock %} 
{% block content %}

<div class="card">
  <div class="card-bg"></div>
  <div class="card-content">
    <h2>Title: {{ book.title }}</h2>
    <h2>Author: {{ book.author }}</h2>
    <p>isbn: {{book.isbn}}, Copies: {{book.total_copies}} Available Copies: {{book.available_copies}}</p>

  </div>
</div>
<a href="{% url 'book-update' book.id %}" class="btn warn">Edit</a>
<a href="{% url 'book-delete' book.id %}" class="btn danger">Delete</a>

{% endblock %}