{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/books/book-index.css' %}" />
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>All Books</h1>
  
</section>

<section class="card-container">
  {% for book in book_list %}
    <div class="card">
      <div class="card-bg"></div>
      <a href="{% url 'book-detail' book.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img
              src="{% static 'images/open-book.png' %}"
              class="card-img-top"  
              alt=""
              style="height: 120px; object-fit: contain; width: 100%;"  
            />
          </div>
          <div class="card-text-content">
            <h2>Title: {{ book.title }}</h2>
            <h2>Author: {{ book.author }}</h2>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}