

{% extends 'base.html' %} 
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/reservation/reservation-index.css' %}"/>


{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Reservations</h1>
  <!-- <img src="{% static 'images/cool-cat.svg' %}" alt="A cool cat" />
  <img src="{% static 'images/happy-cat.svg' %}" alt="A happy cat" />
  <img src="{% static 'images/teacup-cat.svg' %}" alt="A cat in a teacup" />
  <img src="{% static 'images/cat-in-box.svg' %}" alt="A cat in a box" /> -->
</section>

<section class="card-container">
  {% for reservation in reservations %}
    <!-- <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img
            src="{% static 'images/open-book.png' %}"
            alt="ob"
          />
        </div>
        <h2 class="card-title">reservation</h2>
        
        <p><small>Borrow Date: {{reservation.borrow_date}}</small></p>
        <p><small>Due Date: {{reservation.due_date}}</small></p>
      </div>
    </div> -->
    
    <div class="card text-center" id="singal-card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="true" href="#">reservation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Book</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Borrow Date: {{reservation.borrow_date}}</h5>
          <h5 class="card-title">Due Date: {{reservation.due_date}}</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="{% url 'reservation-detail' reservation.id %}" class="btn btn-primary">Show detail</a>
          
        </div>
      </div>
  {% endfor %}
</section>

{% endblock %}